# Python
__pycache__
*.pyc
*.pyi
venv
.cache
notebooks/

# Unit tests
.pytest_cache/
tests

# Kubernetes
k8s/

# IDE
.idea
.vscode

# Logs
*.log

# Build
dist
*.egg-info

# Git
.git/
.github

# Data
models/*
doc/out*